@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSansWeb";
  src: url("../public/fonts/IRANSansWeb.woff2");
}

@font-face {
  font-family: "IranYekanWebBold";
  src: url("../public/fonts/IranYekanWeb-Bold.woff2");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}
